
#estado {
    width: 328px;
    height: 204px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1E213A;
    gap: 20px;
    margin-top: 30px;
}

#estado>h4 {
    font-size: 16px;
    font-weight: 500;
    color: #E7E7EB;
}

#divmph {
    display: flex;
    align-items: end;
}

#divBarra > h1 {
    font-size: 64px;
    font-weight: 700;
    color: #E7E7EB;
}

#mph {
    font-size: 36px;
    font-weight: 500;
    color: #E7E7EB;
}

#estado>div> {
    display: flex;
    align-items: center;
    justify-content: center;
}

#divBarra > p {
    font-size: 16px;
    font-weight: 500;
    color: #E7E7EB;
}

.barra{
    display: flex;
    border: 0;
    border-radius: 15px;
}

@media screen and (min-width: 1280px) {
    #estado {
        width: 328px;
        height: 204px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #1E213A;
    }
}